<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejemplo1.Properties.Settings.Bases2ConnectionString"
            connectionString="Data Source=192.168.1.10\USAC-75B6FB4E46;Initial Catalog=Bases2;Integrated Security=False;User Id=robson2013; password=123;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>